<!DOCTYPE html>
{%extends "blogapp/base.html"%}
{%block title_block%}RAJU'S BLOG HOME PAGE{%endblock%}
  {%block content%}
  <h1>RAJU'S BLOG WORLD</h1>
  {%if tag %}
  <h2>Posts tagged with "{{tag.name}}"</h2>
  {%endif%}
  {%for post in post_list%}
          <a href="{{post.get_absolute_url}}"><h2>{{post.title}}</h2></a>
          <p id="date">Published on{{post.publish}} by{{post.author|title}}</p>
          <p> Tags:
            {%for tag in post.tags.all %}
            <a href="{%url 'post_list_by_name' tag.slug%}" class='btn btn-success'>{{tag.name}}</a>

            {%endfor%}
          </p>
            {{post.body|truncatewords:30|linebreaks}}
      {%endfor%}
      {%include "blogapp/pagenation.html" with page=post_list%}

    {%endblock%}
